.Title .edit-icon
{
opacity: 0;
transition: all 0.5s;
cursor: pointer;
font-family:'Courier New', Courier, monospace;
}

.Title:hover .edit-icon
{
    opacity: 1;
}
.title .form-control
{
height: 60px;

font-size:24px;
font-family:'Courier New', Courier, monospace;

}